body{
 border-style:solid;
 border-color:orange;

}
.title{
  margin-left: 30%;
  margin-top:30px;
  margin-bottom: 30px;
 
}
 .formm{
  margin-left: 15%;
 }

 .table,th,td{
   border-width: 1px;
   border-style: solid;
   border-collapse: collapse;
 }
 .table, .tdd {
  border-radius: 20px;
   border-top: none;
   border-left: none;
 }

 th{
   background-color:rgb(229,234,244);
 }
 .textfield{
   padding-right:60% ;
   padding-bottom:10% ;
   margin-bottom: 100px;
 

 }
 #submit{
   margin-top:50px ;
   margin-left: 45%;
   padding:15px 50px;
   background-color: rgb(245, 106, 56);
  border-style:none;
  border-radius: 10px;
 }